body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('https://media.istockphoto.com/photos/old-wall-texture-cement-dirty-gray-with-black-background-abstract-picture-id1197671817?k=20&m=1197671817&s=612x612&w=0&h=JpWaOE6719Uft5VZiqKJy2jVbzMkkgUezSI4hKNEFNY=');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; */
  /* background-color: rgb(61, 61, 61); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
